# dependencies
/node_modules
/.pnp
.pnp.*

# next.js & build
/.next/
/out/
/build

# testing & coverage
/coverage

# misc & OS
.DS_Store
*.pem
*.log
*.tsbuildinfo
next-env.d.ts
/tasks/
/scripts/

# database & SQLite local files
*.db
*.db-journal
dev.db

# env files (NEVER commit secrets to repo)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
!.env.example

# uploads & media
/public/uploads/*
!/public/uploads/.gitkeep

# vercel
.vercel

# Editor directories and files
.vscode/
.idea/

/docs

/tasks